# This workflow will draft Github release from pull requests
# See more at: https://github.com/release-drafter/release-drafter

name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  release_notes:
    runs-on: ubuntu-latest
    steps:
    - uses: release-drafter/release-drafter@v5.11.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
